body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    width: 400px;
    margin: 40px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #de16f9;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #de16f9;
}

.erro {
    color: rgb(243, 95, 181);
    font-size: 12px;
}

#listaErros {
    color: rgb(243, 95, 181);
    margin-bottom: 15px;
}